In [13]:
import pandas as pd
import pyodbc
import numpy as np
import datetime as dt 
import seaborn as sns
import pandas as pd
import sqlalchemy
from datetime import datetime, timedelta
import hashlib
import json

In [14]:
password = 'dimVuidBun1onCub'
login = 'a.al.kosheleva'

def postre_auth(login, password):
    postgresql_config = {
    'postgresql_prefix' : 'postgresql'
    , 'postgresql_host'   : '10.3.26.92' 
    , 'postgresql_user'   : f'{login}'
    , 'postgresql_pass'   : f'{password}'
    , 'postgresql_port'   : '5432'
    , 'postgresql_db'     : 'dwh'    
    }

    postgresql_connection_string  = "{prefix}://{user}:{passw}@{host}:{port}/{db}".format(
    prefix  =   postgresql_config['postgresql_prefix']    , host  =   postgresql_config['postgresql_host']
    , user  =   postgresql_config['postgresql_user']      , passw =   postgresql_config['postgresql_pass']
    , port  =   postgresql_config['postgresql_port']      , db    =   postgresql_config['postgresql_db']
    )
    postgresql_engine = sqlalchemy.create_engine(postgresql_connection_string)
    postgresql_conn   = postgresql_engine.connect()
    return postgresql_engine, postgresql_conn

postrgre_engine, postrge_conn = postre_auth(login, password)

In [ ]:
pcodes =  ['mr00746',
'mr00747',
'mr00748',
'mr00749',
'mr00750',
'mr00826',
'mr00827',
'mr00828',
'mr00829',
'mr00830']
pcode =  'mr00746'
date_start = '2023-01-16'
date_end = '2023-01-20'

In [ ]:
sql = '''
select distinct EXTRACT('week' from date(created)),
                count(distinct pav_order_id)*1.00/count(distinct buyer_id) as frequency
from dwh_stage.utk_sess_zakaz
where date(created) >= '2023-01-02' and flag_cancel = 0
and buyer_id IN (
select distinct p.buyer_id
from dwh_stage.utk_sess_utk_promocode_buyer_using p
left join dwh_stage.utk_sess_zakaz o on p.pav_order_id = o.pav_order_id
where date(p.created) >= '2023-01-30' and flag_cancel = 0
and action_id IN (
'mr01048')
    )
group by 1
order by 1;
'''

In [ ]:
sql = '''
select count(distinct p.buyer_id) AS users,
       sum(revenue)/count(distinct p.pav_order_id) AS avg_check,
       sum(margin)/count(distinct p.buyer_id) AS margin_per_user
from dwh_stage.utk_sess_utk_promocode_buyer_using p
left join dwh_datamart.ops_metrics o on p.pav_order_id = o.pav_order_id
left join dwh_datamart.receipts c ON lpad(p.pav_order_id,18,'0') = zdocnecom
WHERE action_id  IN ('mr00993')
  and flag_cancel = 0 and retail_brand = 'lo'
AND date(o.created)  BETWEEN '2022-12-22' and '2023-01-29'
AND p.pav_order_id IN (
    select distinct pav_order_id
    from dwh_datamart.retention
    where first_order BETWEEN '2022-12-22' and '2023-01-29');
    '''

In [3]:
sql = '''
with pcodes AS (
select *
from dwh_stage.utk_sess_utk_promocode_buyer_using
where date(created) between '2023-01-01' and '2023-02-15'
),

ops AS (
select *
from dwh_datamart.ops_metrics
where date(created) between '2023-01-01' and '2023-02-15'
),

checks AS (
select *
from dwh_datamart.receipts
where calday between '2023-01-01' and '2023-02-15'
),


pcode_order AS (
select distinct p.buyer_id, p.pav_order_id, date(p.created) AS pcode_created,
                row_number() over (partition by p.buyer_id order by p.created) AS r_n
FROM pcodes p left join ops o on p.pav_order_id = o.pav_order_id
WHERE action_id  IN ('mr01068') and flag_cancel = 0 and retail_brand = 'lo'
AND date(o.created) BETWEEN '2023-02-14' and '2023-02-15'
AND p.pav_order_id NOT IN (
    select distinct pav_order_id
    from dwh_datamart.retention
    where first_order BETWEEN '2023-02-14' and '2023-02-15')),

first_pcode_order AS (
SELECT * from pcode_order where r_n = 1
),

other_orders AS (
select distinct buyer_id, pav_order_id, date(created) AS created
from ops
where date(created) between '2023-01-14' and '2023-02-15'
and flag_cancel = 0
),

active AS (
select f.buyer_id AS buyer_id, f.pav_order_id, f.pcode_created - o.created  AS dd
from first_pcode_order f left join other_orders o ON f.buyer_id = o.buyer_id AND f.pcode_created > o.created),

buyers_active AS (
select distinct buyer_id
from active
where dd <= 30)

select count(distinct p.buyer_id) AS users
from pcodes p
left join ops o on p.pav_order_id = o.pav_order_id
WHERE action_id  IN ('mr01068') and flag_cancel = 0 and retail_brand = 'lo'
AND date(o.created) BETWEEN '2023-02-14' and '2023-02-15'
AND p.buyer_id IN (select *  from buyers_active);
'''

In [ ]:
df = pd.read_sql_query(sql, postrge_conn)
df

In [25]:
#прогнозы для игр и акций - выгрузка чеков и кол-ва заказов
sql = '''
SELECT distinct o.pav_order_id, bill_amount
FROM dwh_datamart.ops_metrics o
where 1=1
    and created_date between '2022-09-01' and '2022-12-31'
    and extract(isodow from created_date) IN (1,2)
    and extract('week' from created_date) IN (36,38,40,42,45,47,49,51)
and bill_amount >= 1500
and flag_cancel = 0
and retail_brand = 'lo'
and order_source IN ('iOS', 'Android', 'Web')
'''

In [26]:
df = pd.read_sql_query(sql, postrge_conn)
df

        pav_order_id  bill_amount
0       098591329221      2227.87
1       098594969639      1801.67
2       098644169890      4089.75
3       098655747979      2058.10
4       098665289454      4071.93
...              ...          ...
177506  098723356538      4152.25
177507  098723356577      4214.22
177508  098723356644      4871.00
177509  098723356906      1842.88
177510  098723357103      2802.12

[177511 rows x 2 columns]

In [27]:
df.pav_order_id.nunique()

177511

In [28]:
percentile = np.percentile(df.bill_amount, 90)
df[df['bill_amount']< percentile].bill_amount.mean()

2446.90730882144

In [29]:
sql2 = '''
SELECT distinct o.pav_order_id, bill_amount
FROM dwh_datamart.ops_metrics o
where 1=1
    created_date between '2023-04-16' and '2023-08-16'
and extract(isodow from created_date) IN (1,2,3)
and extract('week' from created_date) IN (16,18,20,22,24,26,28,30)
and bill_amount >= 1500
and flag_cancel = 0
and retail_brand = 'utk'
and order_source IN ('iOS', 'Android', 'Web')
'''

In [30]:
df2 = pd.read_sql_query(sql2, postrge_conn)
df2

       pav_order_id  bill_amount
0      098770865232      1713.28
1      098770865306      2494.30
2      098770865382      1569.66
3      098770865532      4586.88
4      098770865548      2544.07
...             ...          ...
29265  098786152393      4664.18
29266  098786152431      3232.34
29267  098786152540     18204.28
29268  098786152567      2190.31
29269  098786152571      1994.46

[29270 rows x 2 columns]

In [31]:
df2.pav_order_id.nunique()

29270

In [32]:
percentile2 = np.percentile(df2.bill_amount, 90)
df2[df2['bill_amount']< percentile2].bill_amount.mean()

2733.9168781080452

In [15]:
sql3 = '''
SELECT (sum(margin)- 167*count(distinct o.pav_order_id))/sum(r.revenue) as m1
FROM dwh_datamart.ops_metrics o
left join dwh_datamart.receipts r on lpad(o.pav_order_id,18,'0') = zdocnecom
where created_date between '2022-09-01' and '2022-12-31'
    and extract(isodow from created_date) IN (1,2,3)
and bill_amount >= 1500
and flag_cancel = 0
and retail_brand = 'lo'
and order_source IN ('iOS', 'Android', 'Web');
'''

In [16]:
df3 = pd.read_sql_query(sql3, postrge_conn)
df3

OperationalError: (psycopg2.OperationalError) server closed the connection unexpectedly
	This probably means the server terminated abnormally
	before or while processing the request.
server closed the connection unexpectedly
	This probably means the server terminated abnormally
	before or while processing the request.

[SQL:
SELECT (sum(margin)- 167*count(distinct o.pav_order_id))/sum(r.revenue) as m1
FROM dwh_datamart.ops_metrics o
left join dwh_datamart.receipts r on lpad(o.pav_order_id,18,'0') = zdocnecom
where created_date between '2022-09-01' and '2022-12-31'
    and extract(isodow from created_date) IN (1,2,3)
and bill_amount >= 1500
and flag_cancel = 0
and retail_brand = 'lo'
and order_source IN ('iOS', 'Android', 'Web');
]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [11]:
sql4 = '''
SELECT (sum(margin))/sum(r.revenue) as m1
FROM dwh_datamart.ops_metrics o
left join dwh_datamart.receipts r on lpad(o.pav_order_id,18,'0') = zdocnecom
where created_date between '2023-04-16' and '2023-08-15'
and extract(isodow from created_date) IN (1,2,3)
and extract('week' from created_date) IN (16,18,20,22,24,26,28,30)
and bill_amount >= 1500
and flag_cancel = 0
and retail_brand = 'utk'
and order_source IN ('iOS', 'Android', 'Web');
'''

In [12]:
df4 = pd.read_sql_query(sql4, postrge_conn)
df4

StatementError: (builtins.AttributeError) 'NoneType' object has no attribute 'cursor'
[SQL:
SELECT (sum(margin))/sum(r.revenue) as m1
FROM dwh_datamart.ops_metrics o
left join dwh_datamart.receipts r on lpad(o.pav_order_id,18,'0') = zdocnecom
where created_date between '2023-04-16' and '2023-08-15'
and extract(isodow from created_date) IN (1,2,3)
and extract('week' from created_date) IN (16,18,20,22,24,26,28,30)
and bill_amount >= 1500
and flag_cancel = 0
and retail_brand = 'utk'
and order_source IN ('iOS', 'Android', 'Web');
]

In [ ]:
#ПЕРВЫЙ ЗАКАЗ
sql = '''
SELECT distinct o.pav_order_id, bill_amount
FROM dwh_datamart.ops_metrics o inner join dwh_datamart.retention r on o.pav_order_id = r.pav_order_id
where date between '2022-02-14' and '2022-02-16'
and bill_amount >= 2000
and flag_cancel = 0
and retail_brand = 'lo'
and order_source IN ('iOS', 'Android');
'''

In [ ]:
#СР. ЧЕК С КАТЕГОРИЕЙ ИЛИ СКЮ

In [52]:
sql_cat = '''
SELECT distinct pav_order_id, bill_amount
FROM dwh_datamart.ops_metrics 
WHERE pav_order_id IN (
select
  distinct z.pav_order_id
from dwh_datamart.ops_metrics z
left join dwh_stage.utk_sess_zakaz_items zit
on z.pav_order_id = zit.pav_order_id
left join dwh_stage.utk_prod_item it
on zit.original_id = it.original_id
where
(date(z.created) between '2023-03-04' and '2023-04-04')
and it.original_id IN (
'343403')
and flag_cancel = 0)
and bill_amount >= 2500
and order_source IN ('iOS', 'Android', 'Web')
and retail_brand = 'lo';
'''

In [53]:
df_cat = pd.read_sql_query(sql_cat, postrge_conn)
df_cat

      pav_order_id  bill_amount
0     098754697167      8296.23
1     098754697474      3832.25
2     098754700487      2694.83
3     098754706172      5895.57
4     098754707939      2719.18
...            ...          ...
1465  098766692981      6025.74
1466  098766696043      2517.83
1467  098766760436      2824.07
1468  098766830137      3508.62
1469  098766865599      2923.81

[1470 rows x 2 columns]

In [54]:
percentile = np.percentile(df_cat.bill_amount, 90)
df_cat[df_cat['bill_amount']< percentile].bill_amount.mean()

3672.598609221462

In [3]:
skus = [572272,
263683,
529390,
608380,
658614,
343403
]

In [123]:
final = pd.DataFrame(columns=['sku', 'avg_check'])
for i in range(len(skus)):
    sku = skus[i]
    sql_cat = f'''
    SELECT distinct pav_order_id, bill_amount
    FROM dwh_datamart.ops_metrics
    WHERE pav_order_id IN (
    select
        distinct z.pav_order_id
    from dwh_datamart.ops_metrics z
    left join dwh_stage.utk_sess_zakaz_items zit
    on z.pav_order_id = zit.pav_order_id
    left join dwh_stage.utk_prod_item it
    on zit.original_id = it.original_id
    where
    (date(z.created) between '2023-03-04' and '2023-04-04')
    and it.original_id IN ('{sku}')
    and flag_cancel = 0)
    and bill_amount >= 2500
    and order_source IN ('iOS', 'Android', 'Web')
    and retail_brand = 'lo';
    '''
    df_cat = pd.read_sql_query(sql_cat, postrge_conn)
    percentile = np.percentile(df_cat.bill_amount, 90)
    check = df_cat[df_cat['bill_amount']< percentile].bill_amount.mean()
    final.at[i,'sku'] = sku
    final.at[i,'avg_check'] = check

In [124]:
final

      sku    avg_check
0  572272  3826.057873
1  263683  3544.934862
2  529390  4026.206106
3  608380   3711.44137
4  658614  3495.923383
5  343403  3672.598609

In [8]:
final = pd.DataFrame(columns=['sku', 'orders'])
for i in range(len(skus)):
    sku = skus[i]
    sql_cat = f'''
    SELECT count(distinct pav_order_id)/31 as orders
    FROM dwh_datamart.ops_metrics
    WHERE pav_order_id IN (
    select
        distinct z.pav_order_id
    from dwh_datamart.ops_metrics z
    left join dwh_stage.utk_sess_zakaz_items zit
    on z.pav_order_id = zit.pav_order_id
    left join dwh_stage.utk_prod_item it
    on zit.original_id = it.original_id
    where
    (date(z.created) between '2023-03-04' and '2023-04-04')
    and it.original_id IN ('{sku}')
    and flag_cancel = 0)
    and bill_amount >= 2500
    and order_source IN ('iOS', 'Android', 'Web')
    and retail_brand = 'lo';
    '''
    df_cat = pd.read_sql_query(sql_cat, postrge_conn)
    final.at[i,'sku'] = sku
    final.at[i,'orders'] = df_cat.iloc[0]['orders']

In [9]:
final

      sku orders
0  572272     17
1  263683      3
2  529390     34
3  608380     43
4  658614     21
5  343403     47

In [3]:
password = '43AucbXIIlN7iAGs'
login = 'a.al.kosheleva'

def auth_monolit(login, password):

    mysql_config = {
    'monolith_prefix' : 'mysql+mysqldb'
  , 'monolith_host'   : '10.3.26.4'
  , 'monolith_user'   : f'{login}'
  , 'monolith_pass'   : f'{password}'
  , 'monolith_port'   : '3306'
  , 'monolith_db'     : 'utkonos_sess'
  }

    prefix = mysql_config['monolith_prefix']
    host = mysql_config['monolith_host']
    user = mysql_config['monolith_user']
    passw = mysql_config['monolith_pass']
    port = mysql_config['monolith_port']
    db = mysql_config['monolith_db']

    mysql_connection_string  = f"{prefix}://{user}:{passw}@{host}:{port}/{db}?charset=utf8"

    print(mysql_connection_string)
    mysql_engine = sqlalchemy.create_engine(mysql_connection_string)
    mysql_conn = mysql_engine.connect()
    return mysql_conn
mysql_conn = auth_monolit(login, password)

mysql+mysqldb://a.al.kosheleva:43AucbXIIlN7iAGs@10.3.26.4:3306/utkonos_sess?charset=utf8

In [4]:
sql = '''
select
 uapl.time 'Время',
 uapl.buyer_id 'ID Клиента',
 uapl.cart_id 'ID Корзины',
 uap.actionid 'Код акции',
 upa.target 'Описание акции',
 uapl.code 'Промокод',
 uapl.reason 'Причина ошибки'
from utkonos_sess.utk_action_promocode_log uapl
left join utkonos_sess.utk_action_promocode uap
on uapl.code = uap.code
left join utkonos_sess.utk_promocode_action upa
on uap.actionid = upa.code
where date(time) >= '2023-02-01' and action = 'cart_add_fail';
'''

In [6]:
failed_cart = pd.read_sql_query(sql, mysql_conn)
failed_cart

,Время,ID Клиента,ID Корзины,Код акции,Описание акции,Промокод,Причина ошибки
0,2023-02-01 00:00:19,101026448,5090791063,mr01000,ЛЕНТА500: 500/1800,VK500,only_first_order
1,2023-02-01 00:00:22,94948450,4002004109,mr00626,SeverX: promokodi.net 12%/4000,8em5t5z,use_quantity
2,2023-02-01 00:00:28,94948450,4002004109,mr00626,SeverX: promokodi.net 12%/4000,8em5t5z,use_quantity
3,2023-02-01 00:00:29,103959444,5522983949,bl0345,Perfluence буст января: 1п/500/1800,SECRET500,only_first_order
4,2023-02-01 00:00:53,103959444,5522983949,bl0345,Perfluence буст января: 1п/500/1800,SECRET500,only_first_order
...,...,...,...,...,...,...,...
53003,2023-02-08 12:03:35,95201382,5092767711,mr00675,Триггер на 3ий заказ 15%/2000 22.06,rhbfbc90,expired
53004,2023-02-08 12:03:50,101807085,5233103599,mr01027,Perfluence Утконос буст января: 1п/500/1800,UT0128,only_first_order
53005,2023-02-08 12:03:57,99627423,4793479623,bl0320,Perfluence повторные: 1/10%/2000,BACK40582,buyer_plan
53006,2023-02-08 12:04:01,101807085,5233103599,ut00048,Утконос Perfluence: 1/300/3000,300UT95,buyer_plan
53007,2023-02-08 12:04:02,97201594,4308613523,bl0320,Perfluence повторные: 1/10%/2000,BACK40040,buyer_plan

In [8]:
failed_cart.to_excel('failed_pcodes_feb.xlsx')